/* Ensure the entire page has the dark background */
/* html {
    height: 100%;
    background-color: #040404;
} */

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;  /* Ensures the container takes the full height of the viewport */
    flex-direction: row;
    flex-wrap: wrap;
}

.black-background {
    background-image: none;
    background-color: #040404;
}



.info {
    color: #00ffcc;
    font-size: .8em;
    padding: 20px;
    text-align: left;
    width: 50%;
    box-sizing: border-box;
    min-height: 100vh; /* Ensure the left side takes full height */
}

.aboutme-content {
    margin-top: 100px;
}

.info p {
    margin: 10px;
    overflow: auto;
}
.info h1 {
    /* position: absolute; */
    left: 0;
    padding: 20px; /* Optional: add padding for spacing */
}

.right-side {
    width: 50%;
    display: flex;
    flex-direction: column;  /* Stack images vertically */
    align-items: center;     /* Center the images horizontally */
    gap: 20px;               /* Space between images */
    padding-top: 100px;       /* Adjust this value as needed */
}


.right-side img {
    width: 80%;  /* Make the images fill the container */
    height: auto;
    max-width: 250px;  /* Set max width for the images */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}