.suggestions-container {
    padding: 20px;
    max-width: 90%; /* Responsive width */
    margin: 50px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.suggestions-container h1 {
    font-size: 2.5em; /* Smaller font size for smaller screens */
    font-weight: 400;
    color: #00ffcc;
    margin-bottom: 20px;
    font-family: 'Helvetica Neue', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}


.suggestions-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 600px; /* More flexible max-width */
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.suggestion-item {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #040404;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 255, 204, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.try-again-button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #00ffcc;
    color: #040404;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0, 255, 204, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}