.split-screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #039c78; /* Background color */
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: clip-path 0.2s ease;
    padding: 20px;
    box-sizing: border-box;
}

.left-content {
    background-color: #040404; /* Dark background for left panel */
    z-index: 1;
    color: #00ffcc; /* Light text for contrast */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-content {
    background-color: #039c78; /* Dark background for right panel */
    color: #040404; /* White text for contrast */
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-content h1 {
    color: #ffffff;
}

.divider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #00ffcc; /* Divider in a contrasting color */
    transition: left 0.2s ease;
    z-index: 3;
}

.left-button {
    position: absolute;
    right: 20px;
    transform: translateY(-50%);
    top: 50%;
    background-color: #00ffcc;
    color: #040404;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.right-button {
    position: absolute;
    left: 20px;
    transform: translateY(-50%);
    top: 50%;
    background-color: #00ffcc;
    color: #040404;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
