.split-screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #039c78; /* Background color */
}

.divider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: rgba(0, 255, 204, 0.6);
    transition: left 0.5s ease-in-out;
    z-index: 3;
    box-shadow:
        0 0 30px 10px rgba(0, 255, 204, 0.6), /* Soft glow on the left */
        0 0 60px 20px rgba(4, 4, 4, 0.8);   /* Dark shadow on the right */
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: clip-path 0.5s ease-in-out; /* Match the slower divider movement */
    padding: 20px;
    box-sizing: border-box;
}

.info-content {
    background-color: #040404; /* Dark background for left panel */
    z-index: 1;
    color: #00ffcc; /* Light text for contrast */
}
.info-content h1 {
    position: absolute;
    margin: 0;
    padding: 10px 30px; /* Optional: add padding for spacing */
}

.about-header-placement h1 {
    left: 0;
    top: 40px;
}

.name-placement h1 {
    right: 0;
    top: 0;
}
/* .about-header {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 10px;
} */
.info-button {
    position: absolute;
    right: 0;
    top: 10%;
}
.contact-button {
    position: absolute;
    right: 0;
    top: 25%; /* Adjust to position below the Info button */
}

.project-content {
    background-color: #00ffcc; /* Dark background for right panel */
    color: #040404; /* White text for contrast */
    z-index: 2;
}

.project-content h1 {
    color: #040404;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 10px 30px;
}

.project-button {
    position: absolute;
    left: 0;
    top: 10%;
    background-color: #040404;
    color: #00ffcc;
}
.project-button:hover {
    background-color: #040404; /* Aqua blue */
    box-shadow: 0px 0px 15px #040404; /* Glow effect */
    font-weight: bold;
}
.project-button:active {
    background-color: #ffffff; /* Aqua blue */
}


.gear-container {
    position: fixed;  /* Keeps the gear fixed in place even when scrolling */
    top: 50%;         /* Vertically centers the gear on the page */
    right: 10%;       /* Positions the gear 25% away from the right edge */
    transform: translateY(-50%);  /* Centers it vertically by adjusting for height */
  }

  .gear {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #333;
    border-top: 10px solid #00ffcc;
    animation: spin 4s infinite linear;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
