/* WelcomePage.css */

/*
Frontend inspiration:
https://rly.serious.business/
The RLY website features a minimalist, dark-themed design with bright accents, a dynamic scrolling interface,
and interactive elements like parallax effects and sliding content panels. It utilizes clean, sans-serif fonts
and large, bold headings, which create a modern and tech-savvy atmosphere. Key sections are separated with
high-contrast text and image transitions, creating a structured and visually engaging experience.
*/
/* WelcomePage.css */

/* Dark theme for the entire page */
@keyframes triangleAnimation {
    0% { background-position: 50% 50%; }
    25% { background-position: 25% 50%; }
    50% { background-position: 25% 25%; }
    75% { background-position: 50% 25%; }
    100% { background-position: 50% 50%; }
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Helvetica Neue', sans-serif; /* Clean sans-serif font */
    background: linear-gradient(45deg, #039c78, #040404, #039c78);
    background-size: 350% 400%;
    animation: triangleAnimation 20s ease infinite;
}

.welcome-container {
    padding: 10px;
    max-width: 800px;
    margin: 50px auto; /* Adds space at the top */
    text-align: center;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    color: #00ffcc;
    margin-bottom: 20px;
    font-family: 'Helvetica Neue', sans-serif;
}

p {
    font-size: 1.3em;
    color: #ffffff;
    margin-bottom: 40px;
}

.continue-button {
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #00ffcc; /* Vibrant button color */
    color: #040404; /* Dark text for contrast */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0, 255, 204, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Helvetica Neue', sans-serif;
    justify-content: center;
}

.continue-button:hover {
    background-color: #00ffcc; /* Aqua blue */
    transform: scale(1.05); /* Slightly enlarge button */
    box-shadow: 0px 0px 15px rgba(0, 255, 204, 0.6); /* Glow effect */
    font-weight: bold;
}

.continue-button:active {
    background-color: #00ffcc; /* Aqua blue */
    transform: scale(0.98); /* Button slightly shrinks */
}
